<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <link rel="stylesheet" href="/index.css">
  <title><%= page.title ? `${page.title} | ` : `` %><%= config.title %></title>
</head>
<body>
  <div class="site">
    <% if (path !== 'index.html') { %>
    <header class="header">
      <a class="go-home-link" href="/">
        <svg class="go-home-link__icon" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
          <path d="M1427 301l-531 531 531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19l-742-742q-19-19-19-45t19-45l742-742q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z"/>
        </svg>
        Home
      </a>
    </header>
    <% } %>

    <main>
      <%- body %>
    </main>

    <footer class="footer">
      <p class="footer-name">
        Stefan Dietz<br>
        Munich, Germany
      </p>

      <ul class="footer-links">
        <li>
          <a
            style="unicode-bidi: bidi-override; direction: rtl;"
            href="mailto:mail@stefan-dietz.eu"
          >
            ue.zteid-nafets@liam
          </a>
        </li>

        <li><a href="https://github.com/sdvg">GitHub</a></li>
        <li><a href="https://twitter.com/sd_vg">Twitter</a></li>
        <li><a href="https://www.xing.com/profile/Stefan_Dietz25">Xing</a></li>
      </ul>

      <ul class="footer-links">
        <li><a href="/impressum.html">Impressum und Datenschutz</a></li>
        <li><a href="/atom.xml">Feed</a></li>
      </ul>
    </footer>
  </div>
</body>
</html>